<section id="register" class="container content-section text-center"  ng-controller="myctrl">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Register</h2>
                <form  >
				FirstName: <input type="text" name="fname" ng-model="fname"><br/><br/>
				<br/>
				LastName: <input type="text" name="lname" ng-model="lname"><br/><br/>
				<br/>
				Username: <input type="text" name="user" ng-model="user"><br/><br/>
				<br/>
				Password: <input type="password" name="pass" ng-model="pass"><br/><br/>
				<br/>
				<input type="submit" class="btn btn-primary" value="Register" ng-click="insertdata()">
				<input type="button" class="btn btn-success" value="Cancel">
				<br/>
				<br/>
				</form>
            </div>
        </div>
    </section>
